body {
    background-color: #735F32;
}
h1{color: #66BFBF}
h3 {
    color: #66BFBF
}
a { color:honeydew;
    text-decoration:none}
p{color:cornsilk}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 7%;
}
