body {
    background-color: burlywood;
}
h1{color: #66BFBF}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 7%;
}

img {
    height: fit-content
}
